body {
  background: linear-gradient(158deg, rgba(2,0,36,1) 0%, rgba(6,47,82,1) 35%, rgba(10,114,186,1) 100%);
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  overflow-x: hidden; /* Ocultar el desbordamiento horizontal */
}



.container {
  width: 100%;
  display: flex; /* Utiliza display flex para alinear horizontalmente los elementos */
  justify-content: space-between; /* Espacio entre los elementos para alineación horizontal */
}

aside {
  width: 50%; /* Define el ancho del aside */
  padding: 1rem; /* Agrega espacio interno al aside */
  background-color: #f2f2f2; /* Fondo gris claro para el aside */
  border-radius: 10px;
}

aside form {
  display: flex;
  flex-direction: column;
}



.result {
  width: 100%; /* Define el ancho del div de resultados */
  margin: 10px 20px;
  padding: 20px; /* Agrega espacio interno al div de resultados */
  color: #f2f2f2;
  font-weight: 500;
}

.result div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Estilos generales para los campos de entrada */
input[type="number"],
input[type="checkbox"],
select {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.checkbox_input {
  justify-content: space-between;
  flex-direction: row;
}

/* Estilos para etiquetas y campos de entrada en el formulario */
form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

/* Estilos para los campos de entrada tipo checkbox */
input[type="checkbox"] {
  width: auto; /* Ajusta el ancho automáticamente */
  margin-right: 5px; /* Espacio entre la casilla de verificación y la etiqueta */
}

/* Estilos para el botón Enviar */
form button {
  background-color: #0970b7;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

/* Cambiar el cursor al pasar sobre el botón Enviar */
form button:hover {
  background-color: #054e8e;
}

/* Cambiar el cursor al pasar sobre el botón Enviar */
form button::after {
  border: none;;
}

.graphs {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

h2 {
  color: #f2f2f2;
  margin-top: 0;
}

h3 {
  margin-top: 20px;
}


img {
  max-height: 100%;  
  width: 49%;     
  margin: 10px;
  border-radius: 0.5rem;
}

/* Estilos para pantallas más estrechas (< 768px) */
@media (max-width: 767px) {
  #root {
    width: 99%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Estilos generales para los campos de entrada */
  input[type="number"],
  input[type="checkbox"],
  select {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  label input[type="number"],
  label input[type="checkbox"] {
    flex-direction: row;
  }
  
  .container {
    width: 100%;
    flex-direction: column; /* Cambiar a disposición en columna */
    align-items: center; /* Centrar elementos en el eje horizontal */
    padding: 5px;
    font-size: 14px;
  }

  aside, .result {
    width: 80%; /* Ancho completo para elementos */
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  /* Estilos para los divs dentro del form */
  form div {
    display: flex;
    flex-direction: column;
  }

  .graphs {
    flex-direction: column;
  }

  img {
    width: 99%;  
    margin: 10px 0;   
  }

  h2 {
    margin-top: 20px;
  }
}